## Build results
[Bb]in/
[Oo]bj/
[Oo]ut/

## IDE
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/packages/
*.nupkg
**/[Pp]ackages/

## .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.DotSettings.user

## User-specific files
*.rsuser
*.cache
*.dbmdl
*.jfm

## Node / Angular
**/node_modules/
**/dist/
**/.angular/

## Docker
.containers/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
