
Maui/Building_NET_MAUI_Applications_with_MVVM/GloboTicket.Admin/.vs/

Maui/Building_NET_MAUI_Applications_with_MVVM/GloboTicket.Admin/.idea/

Maui/Building_NET_MAUI_Applications_with_MVVM/GloboTicket.Admin/GloboTicket.Admin.API/obj/

Maui/Building_NET_MAUI_Applications_with_MVVM/GloboTicket.Admin/GloboTicket.Admin.API/bin/

Maui/Building_NET_MAUI_Applications_with_MVVM/GloboTicket.Admin/GloboTicket.Admin.Mobile/bin/

Maui/Building_NET_MAUI_Applications_with_MVVM/GloboTicket.Admin/GloboTicket.Admin.Mobile/obj/

Maui/GloboTicket.Admin/.idea/

Maui/GloboTicket.Admin/.vs/

Maui/GloboTicket.Admin/GloboTicket.Admin.Mobile/obj/

Maui/GloboTicket.Admin/GloboTicket.Admin.Mobile/bin/

Maui/GloboTicket.Admin/GloboTicket.Admin.API/obj/

Maui/GloboTicket.Admin/GloboTicket.Admin.API/bin/
