# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Mediator Pattern.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Lenovo\Documents\Programowanie\CSharpFundamentals\Mediator Pattern\.idea\.idea.Mediator Pattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
